<!--@subject Welkom {{var customer.firstname}}! @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"htmlescape var=$customer.name":"Customer Name",
"htmlescape var=$customer.firstname":"Customer First Name",
"store url=\"customer/account/\"":"Customer Account Url"}
@-->

<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

<body style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<div style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<table cellspacing="0" cellpadding="0" border="0" height="100%" width="100%">
        <tr>
            <td align="center" valign="top" style="padding:20px 0 20px 0">
                <!-- [ header starts here] -->
                <table bgcolor="FFFFFF" cellspacing="0" cellpadding="10" border="0" width="650" style="border:1px solid #E0E0E0;">
                    <tr>
                        <td valign="top">
                            <a href="{{store url=""}}" style="color:#1E7EC8;"><img src="{{var logo_url}}" alt="{{var logo_alt}}" border="0"/></a>
                        </td>
                    </tr>
                    <!-- [ middle starts here] -->
                    <tr>
                        <td valign="top">
                            <h1 style="font-size:22px; font-weight:normal; line-height:22px; margin:0 0 11px 0;">Beste {{htmlescape var=$customer.firstname}},</h1>
                            
                            <p style="font-size:12px; line-height:16px; margin:0 0 16px 0;">Bedankt voor je registratie bij {{var store.getFrontendName()}}. Om toegang te krijgen tot je account, kun je bovenaan iedere pagina op onze webshop klikken op <a href="{{store url="customer/account/"}}" style="color:#1E7EC8;">Log in</a> of <a href="{{store url="customer/account/"}}" style="color:#1E7EC8;">Mijn account</a>. je inloggegevens bestaan uit je e-mailadres en het wachtwoord dat je hebt opgegeven bij registratie.</p>
                            
                             <p style="font-size:12px; line-height:16px; margin:0 0 8px 0;">Wanneer je ingelogd bent kunt u:</p>
							 <ul style="font-size:12px; line-height:16px; margin:0 0 16px 0; padding:0;">
								<li style="list-style:none inside; padding:0 0 0 10px;">&middot; N&oacute;g sneller bestellingen plaatsen, je voorkeuren blijven behouden.</li>
								<li style="list-style:none inside; padding:0 0 0 10px;">&middot; Je eerdere bestellingen bekijken.</li>
								<li style="list-style:none inside; padding:0 0 0 10px;">&middot; Wijzigingen aanbrengen in je adresgegevens.</li>
								<li style="list-style:none inside; padding:0 0 0 10px;">&middot; Je accountgegevens wijzigen.</li>
								<li style="list-style:none inside; padding:0 0 0 10px;">&middot; Aan- en afmelden van nieuwsbriefabonnementen.</li>								
								<li style="list-style:none inside; padding:0 0 0 10px;">&middot; Je wachtwoord wijzigen.</li>
								<li style="list-style:none inside; padding:0 0 0 10px;">&middot; Verschillende verzendadressen opslaan om een bestelling naar verschillende adressen te versturen. Handig voor het sturen van cadeau's naar vrienden en familie!</li>
							</ul>     
                            
                            <p style="font-size:12px; line-height:16px; margin:0;">Wanneer je vragen hebt, kun je per e-mail contact met ons opnemen door een bericht te sturen naar <a href="mailto:{{config path='trans_email/ident_support/email'}}" style="color:#1E7EC8;">{{config path='trans_email/ident_support/email'}}</a> of ons per telefoon bereiken: {{config path='general/store_information/phone'}}.</p>
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#EAEAEA" align="center" style="background:#EAEAEA; text-align:center;"><center><p style="font-size:12px; margin:0;">Met vriendelijke groet, <strong>{{var store.getFrontendName()}}</strong></p></center></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
</body>