je <!--@subject Bevestig wijzigen wachtwoord voor {{var customer.firstname}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"htmlescape var=$customer.name":"Customer Name",
"htmlescape var=$customer.firstname":"Customer First Name",
"store url=\"customer/account/resetpassword/\" _query_id=$customer.id _query_token=$customer.rp_token":"Reset Password URL"}
@-->

<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

<body style="background: #F6F6F6; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; margin: 0; padding: 0;">
    <div style="background: #F6F6F6; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; margin: 0; padding: 0;">
        <table cellspacing="0" cellpadding="0" border="0" height="100%" width="100%">
            <tr>
                <td align="center" valign="top" style="padding: 20px 0 20px 0">
                    <table bgcolor="FFFFFF" cellspacing="0" cellpadding="10" border="0" width="650" style="border:1px solid #E0E0E0;">
                        <tr>
                            <td valign="top">
                                <a href="{{store url=""}}" style="color:#1E7EC8;"><img src="{{var logo_url}}" alt="{{var logo_alt}}" border="0"/></a>
                            </td>
                        </tr>
                        <tr>
                            <td valign="top">
                                <h1 style="font-size: 22px; font-weight: normal; line-height: 22px; margin: 0 0 11px 0;">Beste {{htmlescape var=$customer.firstname}},</h1>
                                <p style="font-size: 12px; line-height: 16px; margin: 0 0 8px 0;">Er is een verzoek geweest om het wachtwoord van je account te wijzigen.</p>
                                <p style="font-size: 12px; line-height: 16px; margin: 0;">Als je dit verzoek zelf hebt gedaan, kun je op de volgende link klikken om je wachtwoord te wijzigen: <a href="{{store url="customer/account/resetpassword/" _query_id=$customer.id _query_token=$customer.rp_token}}" style="color:#1E7EC8;">{{store url="customer/account/resetpassword/" _query_id=$customer.id _query_token=$customer.rp_token}}</a></p>
                                <p style="font-size: 12px; line-height: 16px; margin: 0;">Mocht klikken op de link resulteren in een foutmelding, kopieër de link dan en plak hem in de adresbalk van je browser.</p>
                                <br />
                                <p style="font-size:12px; line-height:16px; margin:0;">Als je niet zelf het verzoek om je wachtwoord te wijzigen hebt gedaan, kunt je deze e-mail negeren. Je wachtwoord blijft dan hetzelfde.</p>
                            </td>
                        </tr>
                        <tr>
                            <td style="background-color: #EAEAEA; text-align: center;"><p style="font-size:12px; margin:0; text-align: center;">Met vriendelijke groet, <strong>{{var store.getFrontendName()}}</strong></p></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</body>
