<!--@subject Contactformulier ingevuld@-->
<!--@vars
{"var data.name":"Sender Name",
"var data.email":"Sender Email",
"var data.telephone":"Sender Telephone",
"var data.comment":"Comment",}
@-->
<a style="border-style: none" href="http://www.babooba.nl" border="none"><img style="border-style: none" src="http://www.babooba.nl/skin/frontend/default/babooba/images/logo.png" alt="Babooba" border="none"></a>
<br /><br />
Dank voor je bericht. We nemen zo snel mogelijk contact met je op. <br /><br />
Dit is een kopie van je bericht:<br /><br />

Naam: {{var data.name}}<br />
E-mail: {{var data.email}}<br />
Telefoon: {{var data.telephone}}<br />

Bericht: {{var data.comment}}

