<!--@subject {{var customer.name}} wil zijn of haar verlanglijst delen @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var message":"Wishlist Message",
"var items":"Wishlist Items"}
@-->
<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

<body style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<div style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<table cellspacing="0" cellpadding="0" border="0" height="100%" width="100%">
    <tr>
        <td align="center" valign="top" style="padding:20px 0 20px 0">
            <!-- [ header starts here] -->
            <table bgcolor="FFFFFF" cellspacing="0" cellpadding="10" border="0" width="650" style="border:1px solid #E0E0E0;">
                <tr>
                    <td valign="top">
                        <a href="{{store url=""}}" style="color:#1E7EC8;"><img src="{{var logo_url}}" alt="{{var logo_alt}}" border="0"/></a>
                    </td>
                </tr>
                <!-- [ middle starts here] -->
                <tr>
                    <td valign="top">
                        <h1 style="font-size:22px; font-weight:normal; line-height:22px; margin:0 0 11px 0;">Hallo, </h1>
                        <p style="font-size:12px; line-height:16px; margin:0;">De volgende producten van {{var store.getFrontendName()}} heeft {{htmlescape var=$customer.name}} op zijn of haar verlanglijstje staan en wil deze met je delen:</a></p>
                    	
                    	<ul>
                            {{depend salable}}<li><a href="{{var addAllLink}}" style="color:#1E7EC8;">Alle producten aan winkelwagen toevoegen.</a></li>{{/depend}} 
                            <li><a href="{{var viewOnSiteLink}}" style="color:#1E7EC8;">Alle producten van de verlanglijst bekijken.</a></li>
                        </ul>
                    	
                    	<p style="font-size:12px; line-height:16px; margin:0;">{{var message}}</p>
                    </td>
                </tr>
                <tr>
                    <td bgcolor="#EAEAEA" align="center" style="background:#EAEAEA; text-align:center;"><center><p style="font-size:12px; margin:0;">Met vriendelijke groet, <strong>{{var store.getFrontendName()}}</strong></p></center></td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</div>
</body>