<?php
/**
 * @category    Scandi
 * @package     Scandi_Slider
 * @author      Livija Golosujeva <info@scandiweb.com>
 */
?>
<?php
/**
 * Scandi Slider Image Map Product
 * @see Scandi_Slider_Block_Slider
 */
?>
<?php
    $productIdArray = $this->getProductId();
    $productCollection = $this->getProduct($productIdArray);
    $sliderId = $this->getSliderId();
?>
<?php foreach ($productCollection as $product): ?>
    <div class="product" data-product-url="<?php echo Mage::getUrl($product->getUrlPath()); ?>" id="slider-<?php echo $sliderId; ?>-product-<?php echo $product->getId(); ?>" style="display:none;">
        <div class="image">
            <img src="<?php echo $this->helper('catalog/image')->init($product, 'small_image')->resize(85, 110); ?>" />
        </div>
        <div class="info">
            <p class="name"><?php echo $product->getName(); ?></p>
            <?php echo $this->getProductPrice($product); ?>
        </div>
    </div>
<?php endforeach; ?>