/**
 * @category    Scandi
 * @package     Scandi_Slider
 * @author      Kriss Andrejevs <info@scandiweb.com>
 */
/* Slider */
.slick-slider { position: relative; display: block; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -ms-touch-action: none; touch-action: none; -webkit-tap-highlight-color: transparent; }

.slick-list { position: relative; overflow: hidden; display: block; margin: 0; padding: 0; }
.slick-list:focus { outline: none; }
.slick-loading .slick-list { background: white url('../images/ajax-loader.gif') center center no-repeat; }
.slick-list.dragging { cursor: pointer; cursor: hand; }

.slick-slider .slick-list, .slick-track, .slick-slide, .slick-slide img { -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }

.slick-track { position: relative; left: 0; top: 0; display: block; zoom: 1; }
.slick-track:before, .slick-track:after { content: ""; display: table; }
.slick-track:after { clear: both; }
.slick-loading .slick-track { visibility: hidden; }

.slick-slide { float: left; height: 100%; min-height: 1px; display: none; }

.slick-slide.slick-loading img { display: none; }
.slick-slide.dragging img { pointer-events: none; }
.slick-initialized .slick-slide { display: block; }
.slick-loading .slick-slide { visibility: hidden; }
.slick-vertical .slick-slide { display: block; height: auto; border: 1px solid transparent; }

/* Icons */
@font-face { font-family: "slick"; src: url('../fonts/slick.eot'); src: url('../fonts/slick.eot?#iefix') format("embedded-opentype"), url('../fonts/slick.woff') format("woff"), url('../fonts/slick.ttf') format("truetype"), url('../fonts/slick.svg#slick') format("svg"); font-weight: normal; font-style: normal; }

/* Arrows */
.slick-prev, .slick-next { position: absolute; display: block; height: 20px; width: 20px; line-height: 0; font-size: 0; cursor: pointer; background: transparent; color: transparent; top: 50%; margin-top: -10px; padding: 0; border: none; outline: none; }
.slick-prev:focus, .slick-next:focus { outline: none; }
.slick-prev.slick-disabled:before, .slick-next.slick-disabled:before { opacity: 0.25; }

.slick-prev:before, .slick-next:before { font-family: "slick"; font-size: 20px; line-height: 1; color: white; opacity: 0.85; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.slick-prev { left: 25px; }
.slick-prev:before { content: "\2190"; }

.slick-next { right: 25px; }
.slick-next:before { content: "\2192"; }

/* Dots */
.slick-slider { margin-bottom: 11px; }

.slick-dots { position: absolute; list-style: none; text-align: center; padding: 0px;}
.slick-dots li { position: relative; height: 20px; width: 20px; padding: 0px; cursor: pointer; }
.slick-dots li button { border: 0; background: transparent; outline: none; line-height: 0; font-size: 0; color: transparent; cursor: pointer; }


/* Text box */
.slick-slider .slider-text { position:absolute; top:0; left:0; background:rgba(255,255,255,0.6); padding:1em; margin:2em; }
.slick-slider .slider-text h2 { color:#000; font-weight:bold; }
.slick-slider .slider-text p { color:#000; font-weight:bold; }
.slick-slider .video-container { position:relative; padding-bottom:56.25%; padding-top:30px; height:0; overflow:hidden; }
.slick-slider .video-container iframe,
.slick-slider .video-container object,
.slick-slider .video-container embed { position:absolute; top:0; left:0; width:100%; height:100%; }

/* Product info block */
.product-blocks .product { background:#fff; padding:10px; }
.product-blocks .product .name { color:#000; font:13px Arial, Helvetica, sans-serif; margin:0; }
.product-blocks .product .info { float:left; }
.product-blocks .product .image { float:right; margin:0 0 0 10px; }