<!--@subject {{var store.getFrontendName()}}: Contact voor product - {{var productcontact.getProductName()}} - op {{var productcontact.getCreatedTime()}}@-->
<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->


<div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
<table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
<tr>
    <td align="center" valign="top">
        <!-- [ header starts here] -->
        <table cellspacing="0" cellpadding="0" border="0" width="650">
            <tr>
                <td valign="top"><a href="{{store url=""}}"><img src="{{skin url="images/logo_email.gif" _area='frontend'}}" alt="{{var store.getFrontendName()}}"  style="margin-bottom:10px;" border="0"/></a></td>
            </tr>
        </table>
        <!-- [ middle starts here] -->
        <table cellspacing="0" cellpadding="0" border="0" width="650">
            <tr>
                <td valign="top">
                    <p>
                        <strong>Beste {{htmlescape var=$productcontact.getCustomerName()}}</strong>,<br/>
						Dank voor de moeite om contact met ons op te nemen.<br/>
                        We reageren zo spoedig mogelijk op je vraag.
                    </p>
                    <h3 style="border-bottom:2px solid #eee; font-size:1.05em; padding-bottom:1px; ">Je vraag over product {{var productcontact.getProductName()}}</h3>
                    {{var productcontact.getCustomerInformation()}}
					<br/><br/>
                    <p>Hartelijk dank,<br/>
					<strong>{{var store.getFrontendName()}}</strong></p>
                </td>
            </tr>
        </table>
    </td>
</tr>
</table>
</div>