<!--@subject {{var store.getFrontendName()}}: Contact for product - {{var productcontact.getProductName()}} - on {{var productcontact.getCreatedTime()}}@-->
<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->


<div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
<table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
<tr>
    <td align="center" valign="top">
        <!-- [ header starts here] -->
        <table cellspacing="0" cellpadding="0" border="0" width="650">
            <tr>
                <td valign="top"><a href="{{store url=""}}"><img src="{{skin url="images/logo_email.gif" _area='frontend'}}" alt="{{var store.getFrontendName()}}"  style="margin-bottom:10px;" border="0"/></a></td>
            </tr>
        </table>
        <!-- [ middle starts here] -->
        <table cellspacing="0" cellpadding="0" border="0" width="650">
            <tr>
                <td valign="top">
                    <p>
                        <strong>Hallo,</strong>,<br/>
                        Er is een klant die een vraag heeft over product <strong>{{var productcontact.getProductName()}}</strong><br/>
						Bekijk de vraag <a href="{{var productcontact.getProductcontactUrl()}}">hier</a>
                    </p>
					<br/>
                    <p>Contactinformatie tref je hieronder.</p>
					<br/>
                    
                    {{var productcontact.getCustomerInformation()}}
					<br/><br/>
                    <p>Hartelijk dank,<br/><strong>{{var store.getFrontendName()}}</strong></p>
                </td>
            </tr>
        </table>
    </td>
</tr>
</table>
</div>