<?php
/**
 * Scandi_CategoryList
 *
 * @category    Scandi
 * @package     CategoryList
 * @author      Viesturs Ružāns <viestursr@majaslapa.lv>
 * @copyright   Copyright (c) 2015
 * @license     [license url]
 *
 */
?>
<?php
/**
 *  Template for categorylist block
 */
$parentId = $this->getParentCategory();
?>
<div class="menu_categories menu_block">
    <h3><a href="<?php echo $this->getUrl($parentId) ?>"
           title="<?php echo $this->getName($parentId) ?>"><?php echo $this->getName($parentId) ?></a></h3>
    <?php if ($this->getChildrenCategories()): ?>
        <ul>
            <?php foreach ($this->getChildrenCategories() as $cat): ?>
                <li><a title="<?php echo $this->getName($cat) ?>"
                       href="<?php echo $this->getUrl($cat) ?>"><?php echo $this->getName($cat) ?></a></li>
            <?php endforeach; ?>
        </ul>
    <?php endif; ?>
</div>