<?php
/**
 * @category    Scandi
 * @package     Scandi_Slider
 * @author      Livija Golosujeva <info@scandiweb.com>
 * @author      Krišs Andrejevs <info@scandiweb.com>
 */
?>
<?php if ($slider = $this->getSlider()):

    //slider options + all images
    $images      = $this->getSliderImages();
    $mediaFolder = $this->getSliderMediaFolder();
    $lazyLoading = $slider->getLazyLoad();

    //jQuery options for slider
    $sliderId              = $slider->getId();
    $animationSpeed        = $slider->getAnimationSpeed();
    $slideDisplaySpeed     = $slider->getSlideSpeed();
    $slidesToDisplay       = $slider->getSlidesToDisplay();
    $slidesToScroll        = $slider->getSlidesToScroll();
    $slidesToDisplayMobile = $slider->getSlidesToDisplayMobile();
    $slidesToScrollMobile  = $slider->getSlidesToScrollMobile();
    $slidesToDisplayTablet = $slider->getSlidesToDisplayTablet();
    $slidesToScrollTablet  = $slider->getSlidesToScrollTablet();

    ($showMenu = $slider->getShowMenu()) ? $showMenu = 'true' : $showMenu = 'false';
    ($showNavigation = $slider->getShowNavigation()) ? $showNavigation = 'true' : $showNavigation = 'false';
    (!empty($slideDisplaySpeed)) ? $slideDisplaySpeed = $slideDisplaySpeed * 1000 : $slideDisplaySpeed = 5000;
    (empty($animationSpeed)) ? $animationSpeed = 500 : $animationSpeed = $slider->getAnimationSpeed();
    ?>

    <div class="slider" id="scandi-slider-<?php echo $sliderId ?>">
        <?php foreach ($images as $image):
            //Individual image options
            $imageFileName = $image->getLocation();
            $imageUrl      = $image->getSlideLink();
            $slideTitle    = $image->getSlideTitle();
            $slideText     = $image->getSlideText();
            $slideVideo    = $image->getIframe();
            ?>

            <div class="gallery-content" data-slide-id="<?php echo $id = $image->getId(); ?>">
                <?php if (!empty($imageFileName)): ?>
                    <?php echo ($imageUrl) ? '<a href="' . $imageUrl . '">' : '' ?>
                    <img <?php echo ($lazyLoading) ? 'data-lazy' : 'src' ?>="<?php echo $mediaFolder . $imageFileName; ?>" alt="<?php echo $image->getImageTitle(); ?>" usemap="#<?php echo $id; ?>"/>
                    <?php if ($slideTitle or $slideText): ?>
                        <div class="slider-text">
                            <?php echo ($slideTitle) ? '<h2>' . $slideTitle . '</h2>' : '' ?>
                            <?php echo ($slideText) ? '<p>' . $slideText . '</p>' : '' ?>
                        </div>
                    <?php endif; ?>
                    <?php echo ($imageUrl) ? '</a>' : '' ?>
                <?php endif; ?>
                <?php if (!empty($slideVideo))
                    echo '<div class="video-container">' . $slideVideo . '</div>'; ?>
            </div>
        <?php endforeach; ?>
    </div>
    <div class="product-blocks">
        <?php echo $this->getProductBlocks(); ?>
    </div>

    <script>
        jQuery('#scandi-slider-<?php echo $sliderId ?>').slick({
            dots: <?php echo $showMenu; ?>,
            infinite: true,
            speed: <?php echo $animationSpeed ?>,
            autoplay: true,
            autoplaySpeed: <?php echo $slideDisplaySpeed ?>,
            arrows: <?php echo $showNavigation ?>,
            slidesToShow: <?php echo ($slidesToDisplay) ? $slidesToDisplay : 1 ?>,
            slidesToScroll: <?php echo ($slidesToScroll) ? $slidesToScroll : 1 ?>,
            responsive: [
                {
                    breakpoint: 1025,
                    settings: {
                        slidesToShow: <?php echo ($slidesToDisplayTablet) ? $slidesToDisplayTablet : 1 ?>,
                        slidesToScroll: <?php echo ($slidesToScrollTablet) ? $slidesToScrollTablet : 1 ?>
                    }
                },
                {
                    breakpoint: 641,
                    settings: {
                        slidesToShow: <?php echo ($slidesToDisplayMobile) ? $slidesToDisplayMobile : 1 ?>,
                        slidesToScroll: <?php echo ($slidesToScrollMobile) ? $slidesToScrollMobile : 1 ?>
                    }
                }
            ]
        });
    </script>

    <div class="image-maps">
        <?php foreach ($images as $image): ?>
            <?php if ($imageId = $image->getId()): ?>
                <map name="<?php echo $image->getId(); ?>">
                    <?php $maps = $this->getImageMaps($imageId); ?>
                    <?php foreach ($maps as $map): ?>
                        <?php $productId = $map->getProductId(); ?>
                        <area shape="poly"
                              <?php if ($productId): ?>data-product-block-id="slider-<?php echo $sliderId; ?>-product-<?php echo $productId; ?>"<?php endif; ?>
                              coords="<?php echo $map->getCoordinates(); ?>" href="#"
                              title="<?php echo $mapTitle = $map->getMapTitle(); ?>" alt="<?php echo $mapTitle; ?>"/>
                    <?php endforeach; ?>
                </map>
            <?php endif; ?>
        <?php endforeach; ?>
    </div>
<?php endif; ?>