<div class="promoblocks-container">
    <div class="promo-block">
        <div class="promo-icon left"></div>
        <div class="promo-text">
            <?php echo $this->getChildHtml('home_promo_left'); ?>
        </div>
    </div>

    <div class="promo-block">
        <div class="promo-icon middle"></div>
        <div class="promo-text">
            <?php echo $this->getChildHtml('home_promo_center'); ?>
        </div>
    </div>

    <div class="promo-block">
        <div class="promo-icon right"></div>
        <div class="promo-text">
            <?php echo $this->getChildHtml('home_promo_right'); ?>
        </div>
    </div>
</div>