<div class="promoblocks-container">
    <div class="promo-block right-column">
        <div class="promo-text">
            <?php echo $this->getChildHtml('right_col_promo') ?>
        </div>
    </div>
</div>